body {
    font-family: "Azeret Mono", monospace; /* Use monospace as a fallback */
}
/* nav section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 38px;
}
.nav-button {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 24px;
    padding-right: 24px;
    border: 2px solid black;
    border-radius: 8px;
    height: 57px;
    width: 244px;
    background-color: white;
}

.contact {
    background-image: url("/assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    height: 652px;
    width: 1440px;
}
.contact-div {
    padding-top: 49px;
}

.content-div-text {
    padding-top: 32px;
    padding-left: 221px;
    padding-right: 221px;
    padding-bottom: 45px;
    width: 998px;
    height: 309px;
    text-align: center;
}
.button-contact {
    background-color: black;
    color: white;
    padding: 21px 24px;
    width: 244px;
    height: 65px;
    border: 2px solid black;
    border-radius: 8px;
}